@media only screen and (min-width: 60em) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2%;
    }

    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    #menu {
        display: none;
    }


    main section:nth-child(1) {
        display: block;
        grid-column: span 1;
    }

    main section:nth-child(2) {
        grid-column: span 2;
    }
}